<%= button_to "Create a Ski Area", new_ski_area_path, class: "submit_button", method: "get" %>

<% @ski_areas.each do |ski_area| %>
  <ul>
    <li><%= link_to ski_area.ski_area_name, ski_area %></li>
  </ul>
<% end %>