<div class="page_section">
  <h2>Ski Bucket Admin Dashboard</h2>

  <p><i>Visit button links below to make changes to application elements.</i></p>

  <%= button_to 'Ski Areas', admin_ski_areas_path, class: "button small blue", method: "get" %>
</div>
