<h2>About the Author</h2>

<p>
  I am attending Galvanize's <a href="http://www.galvanize.it/school/">gSchool</a> full-immersion bootcamp to change careers and become a full-time software developer. gSchool’s curriculum encompasses full stack web development and software engineering methodology. As part of the program, I've developed web apps and websites using Ruby on Rails. I am excited to begin my software career by joining a quality software engineering team. My focus is on companies that use agile process, testing and pair programming to ensure quality development.
</p>
<p>
  To augment my technical skills I've interned at a software development consultancy. My new technical skills and wealth of business experience would be an asset to any team. I have over 18 years in project management, organizational leadership, data analysis, program development and marketing. I am a seasoned manager and strategic thinker who has been successful at many companies and positions.
</p>

Check out my <a href="https://s3-us-west-2.amazonaws.com/gerardcotepersonal/gcote_resume.pdf" target="_blank">resume</a> and my <a href="http://www.linkedin.com/pub/gerard-cote/1/2b3/32a/" target="_blank">LinkedIn</a> profile.

