<%= button_to "Ski Area Bucket List", ski_areas_path, class: 'submit_button', method: 'get' %>
<%= button_to "Create Account", new_user_path, class: 'submit_button', method: 'get' %>

<p style="font-size:1.75em; text-align:center">This app shows all the ski areas where I've skied and the ones that I would like to ski before I die.</p>

<img src="http://www.mjcomm.net/downloads/gschool/ski_bucket/images/ski_bucket_home.gif" class="homepage_image">

<% if logged_in? %>
  Hello <%= current_user.first_name %>, let's turn and burn!
<% end %>



