<h2>Welcome to the Ski Bucket</h2>

<p>This a Ruby on Rails work in progress. The primary use of the application is for users to aggregate information related to ski areas they regularly visit and those that they would like to visit in the future. Current functionality of app includes user authorization, administrative capability and CRUD for ski areas. Future features will include photo uploads, posts, comments, API calls for snow/ski conditions and social media sharing.</p>

<% if !logged_in? %>
  <%= render partial: "shared/sign_in" %>
<% end %>




