.form_container {
  text-align: right;
}

.field_container {
  width: 40%;
  margin: 0 auto;
}

.label_style {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1px;
  width: 33%;
  float: left;
  text-align: right;
  padding: 7px 10px 0 0;
  margin: 5px 0 0 0;
}

.field_style {
  font-family: 'Cantarell', sans-serif;
  font-weight: 300;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: -1px;
  width: 67%;
  margin: 5px 0 0 0;
}

.input_container {
  width: 67%;
  display: inline-block;
}

.checkbox_style {
  float:left;
  margin: 15px 0 0 0;
}