#mainNav {
    width: 90%;
    padding: .2em 0;
    margin: 0 auto;
    margin-top: .25em;
    background-color: #47A6CC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#mainNav ul {
    list-style: none;
    margin: 0 auto;
}

#mainNav ul li{
    display: inline;
    font-family: 'Cantarell', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: .2em 1em;
}

#mainNav ul li:hover {
    background-color: #B21237;
}

#mainNav ul li a {
    color: lightgray;
    text-decoration: none;
}