.page_section h2 {
  margin-top: .5em;
  margin-bottom: 0;
}

.page_section h4 {
  margin-top: .75em;
  margin-bottom: 0;
}

.page_section p {
  margin-top: 0;
}

.page_section ul {
  list-style: none;
}

.page_section ul li {
  font-family: 'Cantarell', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  margin: 0 0;
}
