.page_section h1 {
  margin: .33em 0 .33em 0
}

.page_section h2 {
  margin-top: .5em;
  margin-bottom: 0;
}

.page_section h4 {
  margin-top: .75em;
  margin-bottom: 0;
}

.page_section p {
  font-size: 1em;
  margin-top: 0;
  padding-left: .5em;
}

.page_section ul {
  list-style: none;
}

.page_section ul li {
  font-family: 'Cantarell', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  margin: 0 0;
}
