#file_upload_field {
  height: 3em;
  width: 30em;
  color: dodgerblue;
  padding: .8em .4em;
  font-size: .7em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: white;
}
