/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import 'normalize';
@import '_create_form';

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 50px;
  font-size: 47px;
  padding: .1em 0 .1em .25em;
  margin: .1em 0 .1em 0;
}
h2 {
  font-family: 'Cantarell', sans-serif;
  font-weight: 600;
  line-height: 32px;
  font-size: 29px;
  letter-spacing: -1px;
  padding: .1em 0 .5em .25em;
  margin: .1em 0 .1em 0;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  line-height: 23px;
  font-size: 20px;
  letter-spacing: 1px;
  padding: .1em 0 .1em .25em;
  margin: .1em 0 .1em 0;
}

p {
  font-family: 'Cantarell', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -1px;
}

.homepage_image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -150px; /* Half the height */
  margin-left: -200px; /* Half the width */
}

#message_wrapper {
  width: 90%;
  float: none;
  border-style: hidden;
  border-width: 0;
  padding: 0em 0em .25em .25em;
  margin: 0em 1em 1em 1em;
}

.message_error {
  text-indent: 1em;
  line-height: 25pt;
  border-style: solid;
  border-width: thin;
  border-radius: 10px 10px 10px 10px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.submit_button {
  color: white;
  background: rgb(66, 184, 221);
  font-size: 110%;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin: .4em 1em 1em 2em;
}
