/*
 *= require_tree ./vendor
 *= require_tree ./modules
 *= require_self
 */

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 50px;
    font-size: 47px;
    padding: .1em 0 .1em .25em;
    margin: .1em 0 .1em 0;
}

h2 {
    font-family: 'Cantarell', sans-serif;
    font-weight: 600;
    line-height: 32px;
    font-size: 29px;
    letter-spacing: -1px;
    padding: .1em 0 .5em .25em;
    margin: .1em 0 .1em 0;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 23px;
    font-size: 20px;
    letter-spacing: 1px;
    padding: .1em 0 .1em .25em;
    margin: .1em 0 .1em 0;
}

p {
    font-family: 'Cantarell', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -1px;
}

.homepage_image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -150px; /* Half the height */
    margin-left: -200px; /* Half the width */
}

footer {
    position: fixed;
    bottom: 0;
    clear: both;
    width: 100%;
}